<!-- banner -->
<header>
	<section class="banner1">
        <!-- Navigation -->
		<div class="agileits_w3layouts_banner_nav">
            <div class="header-bar py-sm-2">
                <div class="container py-2">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="hedder-up">
                            <h1><a class="navbar-brand" routerLink="/">Photo Wala</a></h1>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/photographers">Photographers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/gallery">Gallery</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/contact">Contact</a>
                                </li>

                                <li class="nav-item dropdown">
									<a class="btn btn-light hover-fill" href="#" id="navbarDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login <span class="fas fa-sign-in-alt flash animated infinite login-sign"></span></a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" routerLink="/plogin"><span class="fas fa-camera-retro"></span> Photographer</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" routerLink="/ulogin"><span class="fas fa-users"></span> User</a>
									</div>
								</li>
                            </ul>
                            <div class="w3_agile_login">
                                <div class="cd-main-header">
                                    <a class="cd-search-trigger" href="#cd-search"> <span></span></a>
                                    <!-- cd-header-buttons -->
                                </div>
                                <div id="cd-search" class="cd-search">
                                    <form action="#" method="post">
                                        <input name="Search" type="search" placeholder="Search...">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </nav>				
                </div>
            </div>
		</div>
        <!-- //Navigation -->
	</section>
</header>
<!-- //banner -->