<section class="banner_bottom py-5">
    <div class="container py-md-4 mt-md-3"> 
        <div class="wthree_head_section">
            <h2 class="w3l_header">About <span>Us</span></h2>
        </div>
        <div class="inner_sec_info_wthree_agile mt-md-5 pt-4">
            <div class="row help_full">
                <div class="col-lg-6 banner_bottom_grid help">
                    <img src="/assets/g6.jpg" alt=" " class="img-fluid">
                </div>
                <div class="col-lg-6 banner_bottom_left">
                    <h4>Lorem Ipsum convallis diam</h4>
                    <p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                        pulvinar neque pharetra ac.</p>
                    <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                        pulvinar neque pharetra ac.</p>
                    <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                        pulvinar neque pharetra ac.</p>
                    <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                    pulvinar neque pharetra ac.</p>
                </div>
            </div>
        </div>
    </div>
</section>