<!-- Gallery -->
<section class="gallery py-5">
    <div class="container py-md-4 mt-md-3"> 
        <div class="wthree_head_section">
            <h2 class="w3l_header">Gallery </h2>
        </div>
        <div class="row agile_gallery_grids w3-agile demo mt-md-5 pt-4">
            <div class="col-md-4 gal-sec">
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana." href="/assets/g1.jpg">
                        <img src="/assets/g1.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana." href="/assets/g2.jpg">
                        <img src="/assets/g2.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana." href="/assets/g3.jpg">
                        <img src="/assets/g3.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 gal-sec">
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana." href="/assets/g4.jpg">
                        <img src="/assets/g4.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana" href="/assets/g5.jpg">
                        <img src="/assets/g5.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana." href="/assets/g6.jpg">
                        <img src="/assets/g6.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 gal-sec">
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana." href="/assets/g7.jpg">
                        <img src="/assets/g7.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana." href="/assets/g8.jpg">
                        <img src="/assets/g8.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-grid1">
                    <a title="Nulla porttitor accumsana." href="/assets/g9.jpg">
                        <img src="/assets/g9.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Photog</h4>
                            <p>Gallery</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Gallery -->