<!-- error -->
<section class="w3l-error-9">
    <div class="error-page">
        <div class="wrapper-full">
            <div class="main-content">
                <h2>Sorry</h2>
                <h4>Looks like you're lost...</h4>
                <p>You can either return to the previous page, visit our homepage or contact our support team.</p>
                <!-- buttons -->
                <div class="buttons">
                    <a class="btn brk-btn-bg brk-btn" routerLink="/">
                        Go to Homepage
                    </a>
                    <a class="btn brk-btn" routerLink="/contact">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="bottom-header">
                <!-- copyright -->
                <div class="copyrights text-center">
                    <p>© 2020 Photo Wala. All Rights Reserved | Developed by <a href="">Team RAM</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //error -->